<hgroup>
	<h1>Blog</h1>
	<% if current_user %>
	<h2><%= link_to "New Post", new_blog_post_path %> | <%= link_to "New Blog Category", new_blog_category_path %></h2>
	<% end %>
</hgroup>
<% @blog_posts.each do |blog_post| %>
<section>
	<hgroup>
		<h1><%= link_to blog_post.title, :action => 'show', :id => blog_post %></h1>
		<h2>By <%= link_to User.find(blog_post.user_id).name, user_path(blog_post.user_id) %></h2>
	</hgroup>
	<p>
		<% body = snippet(blog_post.body) %>
		<%=raw body %>
		<% if truncated?(body) %>&nbsp;<%= link_to('[Read More]', :action => 'show', :id => blog_post) %><% end %>
	</p>
</section>
<% end %>