<p id="notice"><%= notice %></p>

<h2><%= @blog_post.title %></h2>
  
<p><%= @blog_post.body %></p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> | <%= link_to 'Back', blog_posts_path %>
<br>
<h2>Comments:</h2>
<% for comment in @blog_comments %>
  By <%= comment.name %> (<%= comment.email %>) on <%= comment.created_at.strftime('%m/%d/%Y') %> 
    from <%= link_to comment.website, comment.website %>
  <p><%= comment.body %></p>
<% end %>

<%= link_to "New Comment", new_blog_comment_path(:blog_post_id => @blog_post.id) %>