<% if flash[:notice] %><p id="notice"><%= notice %></p><% end %>

<hgroup>
	<h1><%= @blog_post.title %></h1>
	<h2>By <%= link_to @blog_post.user.name, @blog_post.user %></h2>
	<h3><% link_to "#comments" do %><%= @blog_post.blog_comments.count %> Comments<% end %></h3>
	<% if current_user %>
	<h2><%= link_to 'Edit', edit_blog_post_path(@blog_post) %></h2>
	<% end %>
</hgroup>
  
<p><%=raw @blog_post.body %></p>

<h2 id="comments">Comments:</h2>

<% if current_user and @unmoderated_comments.count == 1 %>
<p>There is currently 1 unmoderated comment for this post. <%= link_to "Manage it.", blog_post_blog_comments_path(@blog_post) %></p>
<% elsif current_user and @unmoderated_comments.count > 1 %>
<p>There are currently <%= @unmoderated_comments.count %> unmoderated comments for this post. <%= link_to "Manage them.", blog_post_blog_comments_path(@blog_post) %></p>
<% end %>

<% @approved_comments.each do |comment| %>
  By <%= comment.name %> (<%= comment.email %>) on <%= comment.created_at.strftime('%m/%d/%Y') %> 
    from <%= link_to comment.website, comment.website %>
  <p><%= comment.body %></p>
<% end %>

<%= render :partial => "blog_comments/new", :locals => {:post => @blog_post, :comment => @new_blog_comment } %>