<% form_for([@column, @block]) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :image_id %><br />
    <%= f.text_field :image_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :html %><br />
    <%#= f.text_area :html %>
    <%= ckeditor_textarea("block", "html", :width => '50%', :height => '200px') %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
