<%= form_for(@page) do |f| %>
  <%= f.error_messages %>

  <div class="field">
	<%= f.label :category_id %><br />
	<%= f.select :category_id, Category.all.collect {|c| [ c.name, c.id ] }  %>
  </div>
  <div class="field">
	<%= f.label :title %><br />
	<%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
