<%= form_for(@page, :html => { :class => 'cmxform', :multipart => true}) do |f| %>
  <%= f.error_messages %>

	<fieldset>
		<ol>
			<li><%= f.label :title %> <%= f.text_field :title %></li>
			<li><%= f.label :image %> <%= f.file_field :image -%></li>
		</ol>
	</fieldset>
  <p class="submitbutton"><%= f.submit button_text %></p>
  
<% end %>
