<%= form_for(@page, :html => { :class => 'cmxform', :multipart => true}) do |f| %>
  <%= f.error_messages %>

	<fieldset>
		<ol>
		  <li></li><%= f.label :category_id %><br />
      <%= f.select :category_id, Category.all.collect {|c| [ c.name, c.id ] }  %></li>
			<li><%= f.label :title %> <%= f.text_field :title %></li>
		</ol>
	</fieldset>
  <p class="submitbutton"><%= f.submit button_text %></p>
  
<% end %>
