<%= form_for(@project, :html => { :class => 'cmxform', :multipart => true}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<ol>
			<li><%= f.label :name %> <%= f.text_field :name %></li>
			<li><label for="project_opening">Tagline</label> <%= f.text_field :opening, :style => "width:80%;" %></li>
			<li><label for="project_excerpt">Excerpt (1 P)</label> <%= f.text_area :excerpt, :rows => 8, :style => "width:80%;" %></li>
			<li>
				<table cellpadding="0" cellspacing="0" width="100%">
					<tr valign="top">
						<td width="120"><%= f.label :description %></td>
						<td><%= ckeditor_textarea("project", "description", :width => '100%', :height => '200px') %></td>
					</tr>
				</table>
			</li>
			<li><%= f.label :link %> <%= f.text_field :link %></li>
			<li><%= f.label :repo_url %> <%= f.text_field :repo_url %></li>
			<li><%= f.label :image %> <%= f.file_field :image -%></li>
		</ol>
	</fieldset>
  <p class="submitbutton"><%= f.submit button_text %></p>
<% end %>
