<div class="cell_full">
	<div class="cell_full-top"><div class="cell_full-top-padding"><h1><small><%= link_to "Home", :controller => "frontpage" %> > <%= link_to "Projects", :controller => :projects %> > </small>Edit Existing Project</h1></div></div>
	<div class="cell-padding cell-padding_full">
		<div class="indent-1">
			<%= render :partial => 'form', :locals => { :project => @project, :button_text => 'Update' } %>
			<br />
			<h1>Photos Attached to this Project</h1>
			<%= link_to "Attach a New Photo", :controller => 'project_photos', :action => 'new', :id => @project %>
			<% unless @photos.size == 0 %>
				<table class="admin" cellpadding="8" cellspacing="0" width="100%">
					<tr>
						<th>Photo</th>
	    			<th>Actions</th>
					</tr>
				<% @photos.each do |ph| -%>
					<tr>
						<td><%= image_tag ph.file.url(:thumb) %></td>
	   				<td><p><%= link_to "Delete", :controller => "project_photos", :action => "destroy", :id => ph, :confirm => 'Are you sure you wish to delete this photo for this project?' %></p></td>
					</tr>
				<% end %>
				</table>
			<% end %>
		</div>
	</div>
</div>