<div class="cell_3rd">
   <%link_to(:controller => 'users') do %><div class='cell_3rd-top'><h1>About Us</h1></div><% end %>
   <a href="<%= page_url(Page.find(1))%>"><div class="cell_3rd-img"><div class="cell_3rd_caption">Learn More</div><%= image_tag("fp/updates.jpg", :alt => "") %></div></a>
   <div class="cell-padding cell-padding_3rd">
      <div class="indent-1">
         <p>Gallia est omnis diuisa in partes tres, quarum unam incolunt Belgae, aliam Aquitani, tertiam, qui ipsorum lingua Celtae, nostra Galli appellantur. hi omnes lingua, institutis, legibus inter se differunt. Gallos ab Aquitanis Garumna flumen, a Belgis Matrona et Sequana diuidit. horum omnium fortissimi sunt Belgae, propterea quod a cultu atque humanitate prouinciae longissime absunt, minimeque ad eos mercatores saepe commeant, atque ea quae ad effeminandos animos pertinent important.</p>
      </div>
   </div>
</div>
<div class="cell_3rd">
   <%link_to('projects') do %><div class='cell_3rd-top'><h1>Projects</h1></div><% end %>
   <a href="projects"><div class="cell_3rd-img"><div class="cell_3rd_caption">Our Projects</div><%= image_tag("fp/updates.jpg", :alt => "") %></div></a>
   <div class="cell-padding cell-padding_3rd">
      <div class="indent-1">
         <p>proximique sunt Germanis, qui trans Rhenum incolunt, quibuscum continenter bellum gerunt, qua de causa Heluetii quoque reliquos Gallos uirtute praecedunt, quod fere quotidianis proeliis cum Germanis contendunt</p>

      </div>
   </div>
</div>
</div>
<div class="cell_3rd">
   <%link_to(:controller => 'blog_posts') do %><div class='cell_3rd-top'><h1>Blog</h1></div><% end %>
   <a href="blog"><div class="cell_3rd-img"><div class="cell_3rd_caption">Read Blog</div><%= image_tag("fp/updates.jpg", :alt => "") %></div></a>
   <div class="cell-padding cell-padding_3rd">
      <div class="indent-1">
         <p>proximique sunt Germanis, qui trans Rhenum incolunt, quibuscum continenter bellum gerunt, qua de causa Heluetii quoque reliquos Gallos uirtute praecedunt, quod fere quotidianis proeliis cum Germanis contendunt</p>

      </div>
   </div>
</div>
<div style="clear:both;"></div>
<br />
<div class="cell_full" style="margin-left:6px;">
	<div class="cell_full_comptop">&nbsp;</div>
	<div class="cell-padding cell-padding_full">
		<div class="indent-2" style="padding-top:0px; padding-bottom:0px;">
			<div class="help">
				<h1><%= link_to("Contact Us", contact_path) %></a></h1>
				<p style="margin-bottom:0px !important;">cum aut suis finibus eos prohibent aut ipsi in eorum finibus bellum gerunt. eorum una pars, quam Gallos obtinere dictum est, initium capit a flumine Rhodano. continetur Garumna flumine Oceano finibus Belgarum. attingit etiam ab Sequanis et Heluetiis flumen Rhenum. uergit ad septentriones.</p>
			</div>
		</div>
	</div>
</div>

<br />