<div class="cell_full">
	<div class="cell_full-top"><div class="cell_full-top-padding"><h1><small><%= link_to "Home", :controller => "frontpage" %> > <%= link_to "Projects", :controller => :projects %> > </small>Edit Existing Project</h1></div></div>
	<div class="cell-padding cell-padding_full">
		<div class="indent-1">
			<% form_for :project_photo, @project_photo, :url => project_photos_path, :html => { :class => 'cmxform', :multipart => true } do |form| %>
				<fieldset>
					<ol>
						<li><label for="photo_photo">Upload photo</label> <%= form.file_field :file %></li>
						
						<%= hidden_field("project_photo", "project_id", :value => params[:id]) %>
					</ol>
				</fieldset>
			  <p class="submitbutton"><%= submit_tag "Add Photo" %></p>
			<% end %>
		</div>
	</div>
</div>